#1Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [96]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\91903\anaconda3\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sortedcontainers in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91903\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91903\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91903\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91903\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [97]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common. by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [98]:
driver=webdriver.Chrome()

In [99]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [100]:
topvideos=driver.find_element(By.LINK_TEXT,'Top videos')
topvideos.click()

In [102]:
#for video Name 
video_name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
update=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')




#notes for self new learning

In [103]:
df_topvideos=pd.DataFrame(columns=['Rank','Name','Artist','Upload_date','views'])
df_topvideos

Empty DataFrame
Columns: [Rank, Name, Artist, Upload_date, views]
Index: []

In [105]:
for i in range(30):
    df_topvideos=df_topvideos.append({'Rank':rank[i].text,'Name':video_name[i].text,'Artist':artist[i].text,'Upload_date':update[i].text,'views':views[i].text},ignore_index=True)

In [106]:
print(df_topvideos)

   Rank                                             Name  \
0    1.                            "Baby Shark Dance"[6]
1    2.                                   "Despacito"[9]
2    3.                       "Johny Johny Yes Papa"[17]
3    4.                                  "Bath Song"[18]
4    5.                               "Shape of You"[19]
5    6.                              "See You Again"[22]
6    7.                          "Wheels on the Bus"[27]
7    8.                "Phonics Song with Two Words"[28]
8    9.                                "Uptown Funk"[29]
9   10.  "Learning Colors – Colorful Eggs on a Farm"[30]
10  11.                              "Gangnam Style"[31]
11  12.   "Masha and the Bear – Recipe for Disaster"[36]
12  13.                             "Dame Tu Cosita"[37]
13  14.                                     "Axel F"[38]
14  15.                                      "Sugar"[39]
15  16.                             "Counting Stars"[40]
16  17.                                       "Roar"[41]
17  18.                        "Baa Baa Black Sheep"[42]
18  19.           "Waka Waka (This Time for Africa)"[43]
19  20.                             "Lakdi Ki Kathi"[44]
20  21.                                      "Sorry"[45]
21  22.                          "Thinking Out Loud"[46]
22  23.          "Humpty the train on a fruits ride"[47]
23  24.                                 "Dark Horse"[48]
24  25.                                    "Perfect"[49]
25  26.                                 "Let Her Go"[50]
26  27.                                      "Faded"[51]
27  28.                      "Shree Hanuman Chalisa"[52]
28  29.                             "Girls Like You"[53]
29  30.                                    "Lean On"[54]

                                               Artist        Upload_date  \
0         Pinkfong Baby Shark - Kids' Songs & Stories      June 17, 2016
1                                          Luis Fonsi   January 12, 2017
2   LooLoo Kids - Nursery Rhymes and Children's Songs    October 8, 2016
3                          Cocomelon - Nursery Rhymes        May 2, 2018
4                                          Ed Sheeran   January 30, 2017
5                                         Wiz Khalifa      April 6, 2015
6                          Cocomelon - Nursery Rhymes       May 24, 2018
7               ChuChu TV Nursery Rhymes & Kids Songs      March 6, 2014
8                                         Mark Ronson  November 19, 2014
9                                         Miroshka TV  February 27, 2018
10                                        officialpsy      July 15, 2012
11                                         Get Movies   January 31, 2012
12                                      Ultra Records      April 5, 2018
13                                         Crazy Frog      June 16, 2009
14                                           Maroon 5   January 14, 2015
15                                        OneRepublic       May 31, 2013
16                                         Katy Perry  September 5, 2013
17                         Cocomelon - Nursery Rhymes      June 25, 2018
18                                            Shakira       June 4, 2010
19                                       Jingle Toons      June 14, 2018
20                                      Justin Bieber   October 22, 2015
21                                         Ed Sheeran    October 7, 2014
22      Kiddiestv Hindi - Nursery Rhymes & Kids Songs   January 26, 2018
23                                         Katy Perry  February 20, 2014
24                                         Ed Sheeran   November 9, 2017
25                                          Passenger      July 25, 2012
26                                        Alan Walker   December 3, 2015
27                              T-Series Bhakti Sagar       May 10, 2011
28                                           Maroon 5       May 31, 2018
29                               Major Lazer Official     March 22, 2015

    views
0   13.65
1    8.32
2    6.84
3    6.50
4    6.14
5    6.09
6    5.71
7    5.57
8    5.09
9    5.01
10   4.96
11   4.57
12   4.48
13   4.16
14   3.97
15   3.92
16   3.91
17   3.84
18   3.78
19   3.76
20   3.74
21   3.69
22   3.63
23   3.63
24   3.60
25   3.56
26   3.55
27   3.54
28   3.52
29   3.50

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [2]:
import selenium
from selenium import webdriver
from selenium. webdriver. common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://www.bcci.tv/')

In [5]:
fixture=driver.find_element(By.LINK_TEXT,'Fixtures')
fixture.click()

In [6]:
international=driver.find_element(By.LINK_TEXT,'International')
international.click()

In [7]:
##alternate method
# #series name
# df=pd.DataFrame(columns=['series','place','date','time','stadium'])

# series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
# date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
# time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
# stadium=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
# place=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')

In [8]:
import pandas as pd

In [9]:
for _ in range(20):
    driver.execute_script('window.scrollBy(0,500)')


seri=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
series = []
for x in seri:
    series.append(x.text)
#print(series)



DT=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
date = []
for x in DT:
    date.append(x.text)
#print(date)

tm=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
time = []
for x in tm:
    time.append(x.text)
#print(time)

stm=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
stadium = []
for x in stm:
    stadium.append(x.text)
#print(stadium)


plc=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
place = []
for x in plc:
    place.append(x.text)
#print(place)

In [10]:
df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,"26 NOVEMBER, 2023",7:00 PM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,"28 NOVEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"29 NOVEMBER, 2023",1:30 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"1 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Raipur,"1 DECEMBER, 2023",7:00 PM IST
7,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"3 DECEMBER, 2023",1:30 PM IST
8,AUSTRALIA TOUR OF INDIA 2023-24,Bengaluru,"3 DECEMBER, 2023",7:00 PM IST

####ans 2 END

#Ans 3 3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
! pip install selenium
import selenium
from selenium import webdriver
from selenium.webdriver.common .by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

Requirement already satisfied: selenium in c:\users\91903\anaconda3\lib\site-packages (4.15.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91903\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\91903\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\91903\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91903\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91903\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91903\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')
#ECONOMY DROP DOWN
economy=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')## see here use relative xpath
economy.click()
#SELECTING INDIA
india=driver.find_element(By.LINK_TEXT,'India')# drop down menu
india.click()
#HREF XPATH TAKEN TO OPEN GDF STATES
GDP_STATES=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')#href xpath
GDP_STATES.click()

In [4]:
#rank
rank=[]
rnk=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rnk:
    rank.append(i.text)
#print(rank)

#states
states=[]
rnk=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in rnk:
    states.append(i.text)
#print(states)

#GSDP(18-19)
gsdp=[]
gsd=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsd:
    gsdp.append(i.text)
#print(gsdp)

gsdp_19_20=[]
gsd=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsd:
    gsdp_19_20.append(i.text)
#print(gsdp_19_20)

#share(18_19)
share_18_19=[]
gsd=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in gsd:
    share_18_19.append(i.text)
#print(share_18_19)

#gdp
gdp=[]
gsd=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gsd:
    gdp.append(i.text)
#print(gdp)

df=pd.DataFrame({'Rank':rank,'State':states,'GSDP(18-19)- at current prices':gsdp,'GSDP(19-20)- at current prices':gsdp_19_20,'Share(18-19)':share_18_19,
'GDP($ billion)':gdp})
#c ignore index and move to rank
df=df.set_index('Rank')

In [5]:
df

,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
Rank,,,,,
1,Maharashtra,-,"2,632,792",13.94%,399.921
2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,Gujarat,-,"1,502,899",7.96%,228.290
5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,Telangana,"969,604","861,031",4.56%,130.791
10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,Kerala,-,"781,653",4.14%,118.733
12,Delhi,"856,112","774,870",4.10%,117.703
13,Haryana,"831,610","734,163",3.89%,111.519
14,Bihar,"611,804","530,363",2.81%,80.562
15,Punjab,"574,760","526,376",2.79%,79.957
16,Odisha,"521,275","487,805",2.58%,74.098
17,Assam,-,"315,881",1.67%,47.982
18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,Jharkhand,"328,598","297,204",1.57%,45.145
20,Uttarakhand,-,"245,895",1.30%,37.351
21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,Goa,"80,449","73,170",0.39%,11.115
24,Tripura,"55,984","49,845",0.26%,7.571
25,Chandigarh,-,"42,114",0.22%,6.397
26,Puducherry,"38,253","34,433",0.18%,5.230
27,Meghalaya,"36,572","33,481",0.18%,5.086
28,Sikkim,"32,496","28,723",0.15%,4.363
29,Manipur,"31,790","27,870",0.15%,4.233
30,Nagaland,-,"27,283",0.14%,4.144
31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,Mizoram,"26,503","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

#### ans 3 ENds here

####Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

In [2]:
####-------------------
# connecting to the web driver
driver=webdriver.Chrome()

# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [5]:
search=driver.find_element(By.XPATH,'//input[@id="query-builder-test"]')
search.send_keys('trending repositories')
click=driver.find_element(By.XPATH,'//span[@class="ActionListItem-description QueryBuilder-ListItem-trailing"]')
click.click()

In [6]:
# creating empty list
URLs = []
tittle = []

lang = []

# fetching urls for each repository
repository = driver.find_elements(By.XPATH,'//a[@class="Link__StyledLink-sc-14289xe-0 fIqerb"]')
for i in repository:
    URLs.append(i.get_attribute("href"))
 #tittle   


tit=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]')
for i in tit:
    tittle.append(i.text)
#print(tittle)

In [8]:
Contributors = []

Language = []

for i in URLs:
    driver.get(i)
    time.sleep(5)

    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):# check this loop
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')
        
    try:
        desc = driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][6]/div/h2')
        Contributors.append(desc.text)
    except NoSuchElementException:
        Contributors.append('-')

In [9]:
Github = pd.DataFrame({})
Github['Repository Title'] = tittle
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

,Repository Title,Contributors Count,Language Used
0,vitalets/github-trending-repos,Contributors\n3,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
1,QasimWani/LeetHub,Languages,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
2,mbadry1/Trending-Deep-Learning,-,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
3,Semigradsky/trending-repositories,-,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
4,laowch/GithubTrends,Languages,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
5,ophobe/trending,-,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
6,ecrmnn/trending-github,Languages,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
7,zhuowenli/githuber,Contributors\n5,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
8,andygrunwald/TrendingGithub,Contributors\n6,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."
9,andygrunwald/go-trending,Contributors\n8,"[HTML, JavaScript, HTML, JavaScript, JavaScrip..."

In [10]:
###Ans 4 ends here======================Incomplete

##. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

##. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [8]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common. by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [12]:
driver=webdriver.Chrome()
driver.get(' https:/www.billboard.com/')
charts=driver.find_element(By.LINK_TEXT,'CHARTS')
charts.click()

In [14]:
top100=driver.find_element(By.XPATH,'//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]')
top100.click()

In [15]:
#in below code relative xpath use change li number(columns)

#song_name
song_name=[]
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li/h3')
for i in song:
    song_name.append(i.text)
#len(song_name)

#Artist Name
artist_name=[]
song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/span')# check this class new learning
for i in song:
    artist_name.append(i.text)
#len(artist_name)

#week on board
week_board=[]
boardweek=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[6]')
for i in boardweek:
    week_board.append(i.text)
#len(week_board)
    
    
#Peak_renk
peak_rank=[]
peak=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in peak:
    peak_rank.append(i.text)
#len(peak_rank)


#last week rank
last_weekrank=[]
last_week=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[4]')
for i in last_week:
    last_weekrank.append(i.text)
#len(last_weekrank)


df=pd.DataFrame({'Song name':song_name,'Artist name':artist_name,'Last week rank':last_weekrank,'Peak rank':peak_rank,'Weeks on board':week_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

#ans 5 ends here --complete

#qus 6 . Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [16]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [19]:
#book name
book_name=[]
name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    book_name.append(i.text)


#author name
author_name=[]
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in name:
    author_name.append(i.text)


#volume_sold
volume_sold=[]
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    volume_sold.append(i.text)


#publisher
publisher=[]
pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    publisher.append(i.text)


#genre
genre=[]
gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    genre.append(i.text)

    
df=pd.DataFrame({'Book name':book_name,'Author name': author_name,'Volumes sold':volume_sold,'Publisher': publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Da Vinci Code,The","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,"4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,"4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,"4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,Fifty Shades of Grey,"3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Ghost,The","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,Happy Days with the Naked Chef,"794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,"791,095",Penguin,Food & Drink: General

#ans 6 ends here

## 7 Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
driver=webdriver.Chrome()
driver.get(' https://www.imdb.com/list/ls095964455/')

In [4]:
#Name
name=[]
nm=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in nm:
    name.append(i.text)

#year Span

year_span=[]
nm=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in nm:
    year_span.append(i.text)
    
#genre
genre=[]
nm=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in nm:
    genre.append(i.text)

#run_time
run_time=[]
nm=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in nm:
    run_time.append(i.text)
    
#ratings
ratings=[]
nm=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in nm:
    ratings.append(i.text)
    
#votes
votes=[]
nm=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in nm:
    votes.append(i.text)

In [5]:
df=pd.DataFrame({'Name':name,'Year span':year_span,'Genre':genre,'Run time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","Action, Adventure, Drama",9.2,"2,226,162"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror","Drama, Fantasy, Horror",8.7,"1,293,229"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller","Drama, Horror, Thriller",8.1,"1,056,079"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller","Drama, Mystery, Thriller",7.5,"310,082"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi","Drama, Mystery, Sci-Fi",7.6,"269,197"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,Drama,7.5,"53,263"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama","Adventure, Comedy, Drama",7.8,"65,354"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery","Crime, Drama, Mystery",8.1,"213,132"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama","Comedy, Crime, Drama",7,"44,368"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery","Drama, Horror, Mystery",8.6,"277,921"

In [6]:
### 7 Ends here

## 8 . Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year   
Note: - from the home page you have to go to the Show All Dataset page through code.

In [23]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [24]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [25]:
datasets=driver.find_element(By.LINK_TEXT,'Datasets')
datasets.click()

In [26]:
product_url=[]
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')#the link u want to click
    for i in url:
        product_url.append(i.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(3)

In [27]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Noof_instances=[]
Noof_attribute=[]
Year=[]




for url in product_url:
    driver.get(url)
    time.sleep(2)
    
    #Dataset_name
    try:
        brand=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]') 
        Dataset_name.append(brand.text)
    except NoSuchElementException:
        Dataset_name.append('-')
        
        
        
#Data_type        
    try:
        n=driver.find_element(By.XPATH,'//div[@class="col-span-4"][1]/p[1]') 
        Data_type.append(n.text)
    except NoSuchElementException:
        Data_type.append('-')
        
        
        #task        
    try:
        p=driver.find_element(By.XPATH,'//div[@class="col-span-4"][3]/p[1]') 
        Task.append(p.text)
    except NoSuchElementException:
        Task.append('-')
        
        #Attribute_type        
    try:
        r=driver.find_element(By.XPATH,'//div[@class="col-span-4"][4]/p[1]') 
        Attribute_type.append(r.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        
        
#Noof_instances        
    try:
        a=driver.find_element(By.XPATH,'//div[@class="col-span-4"][5]/p[1]') 
        Noof_instances.append(a.text)
    except NoSuchElementException:
        Noof_instances.append('-')
        
        
#Noof_attribute        
    try:
        a=driver.find_element(By.XPATH,'//div[@class="col-span-4"][6]/p[1]') 
        Noof_attribute.append(a.text)
    except NoSuchElementException:
        Noof_attribute.append('-')

In [28]:
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(Noof_instances),len(Noof_attribute)

(30, 30, 30, 30, 30, 30)

In [30]:
df = pd.DataFrame({})
df['Dataset_name'] = Dataset_name
df['Data_type'] = Data_type
df['Task'] = Task
df['Attribute_type'] = Attribute_type
df['Noof_instances'] = Noof_instances
df['Noof_attribute']=  Noof_attribute
df

,Dataset_name,Data_type,Task,Attribute_type,Noof_instances,Noof_attribute
0,Iris,Tabular,Classification,Real,150,4
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
3,Wine,Tabular,Classification,"Integer, Real",178,13
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30
5,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7
10,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16
11,Mushroom,Multivariate,Classification,Categorical,8124,22
12,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8
13,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14
14,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20
15,Student Performance,Multivariate,"Classification, Regression",Integer,649,-
16,Breast Cancer,Multivariate,Classification,Categorical,286,9
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25
18,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7
19,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9
20,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541909,6
21,Predict students' dropout and academic success,Tabular,Classification,-,4424,36
22,Spambase,Multivariate,Classification,"Integer, Real",4601,57
23,Glass Identification,Multivariate,Classification,Real,214,9
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,5
25,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690,15
26,Optical Recognition of Handwritten Digits,Multivariate,Classification,Integer,5620,64
27,Zoo,Multivariate,Classification,"Categorical, Integer",101,16
28,Online Retail II,"Multivariate, Sequential, Time-Series, Text","Classification, Regression, Clustering","Integer, Real",1067371,-
29,default of credit card clients,Multivariate,Classification,"Integer, Real",30000,-

In [22]:
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(Noof_instances),len(Noof_attribute)

(30, 30, 30, 30, 30, 30)